
p {
    font-family: 'Lexend Giga', sans-serif;
}
a 
{
    font-family: 'Lexend Giga', sans-serif;
    color:  #cc0000;
}

a:hover 
{
    color: blueviolet;
}
body
{
    text-align: center;
    padding-top:131px;
}
nav{
    background-color: white;
    height: 130px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 5rem;
    /* border-bottom: #cc0000 5px solid; */
}

.conteneur {
    margin-left: 5rem;
    margin-right: 5rem;
}
