body
{
    font-weight: bold;
    text-align: center;
}
a
{
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}
article
{
    margin: 40px;

}
h1
{
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-family: 'Merriweather', serif, sans-serif;
    margin-top: 300px;
    background-color: #0331b1;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    padding: 20px;
}
nav{
    background-color: #0331b1;
}
nav a
{
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.accueil{
height: 500px;
margin: 20px;
border-radius: 10px;
background-position: center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 1px 5px rgb(0, 0, 0);
background-image: url("../img/accueil/photodevweb2019.jpg");
}
/* .img-accueil{
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0px 1px 5px rgb(0, 0, 0);
} */