<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
    <ul>
        <hr>
        {{ range .Pages }}
        <li><a href="{{ .URL }}"><strong>{{ .Title }} :</strong> {{ .Params.description }}</a></li>
        <hr>
        {{ end }}
    </ul>
</body>

</html>