<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>

    <div class="conteneur">
        {{ .Render "navbar" }}

        <h2>Nos posts :</h2>
        <ul>
            <hr>
            {{ range .Pages }}
            <li>
                <p>Le {{ .Date.Format "02/01/2006" }}</p><a href="{{ .URL }}"><strong>{{ .Title }} :</strong>
                    {{ .Params.description }}</a>
                <p id="author">Par {{ .Params.author }}</p>
            </li>
            <hr>
            {{ end }}
        </ul>

        <a href="/">Retour à l'accueil.</a>

    </div>
</body>

</html>